.jumbotron {
    background-image: url("image/code_logo_grey.png") !important;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
  }
  